.DS_Store
node_modules
/dist



npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignorer les fichiers générés par le système
.DS_Store
Thumbs.db
# Ignorer les dépendances
node_modules/

# Ignorer les fichiers de configuration
.env
package.json
package-lock.json
vue.config.js
tai
jsconfig.json
*.log

# Ignorer les fichiers compilés
*.exe
*.dll
*.pyc
*.class

# Ignorer les dossiers spécifiques à l'IDE
.vscode/
.idea/
